[network]
batch=160
height=112
width=112
#width=96
channels=3
max_batches=20000

learning_rate=0.1
policy=poly
learning_rate_poly_power=4
#policy=steps
#steps=30,100,200
#scales=.1,.1,.1

momentum=0.9
decay=0.0005

#saturation = 1.02
#exposure = 1.05
#hue=.02

flip=1
mean_value=127.5
scale=0.0078125

# get 512 dimension feature
output_layer = 29
classes = 5000
#classes = 100
accuracy_count_max=8000

[convolutional]
filters=64
size=3
stride=2
pad=1
weight_filler=xavier
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=2
bias_decay_mult=0

[convolutional]
filters=64
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=64
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3

# conv 2
[convolutional]
filters=128
size=3
stride=2
pad=1
weight_filler=xavier
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=2
bias_decay_mult=0

[convolutional]
filters=128
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=128
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3

[convolutional]
filters=128
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=128
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3

# conv 3
[convolutional]
filters=256
size=3
stride=2
pad=1
weight_filler=xavier
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=2
bias_decay_mult=0

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=256
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3


# conv 4
[convolutional]
filters=512
size=3
stride=2
pad=1
weight_filler=xavier
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=2
bias_decay_mult=0

[convolutional]
filters=512
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[convolutional]
filters=512
size=3
stride=1
pad=1
weight_filler=gaussian
weight_filler_std=0.01
activation=prelu
lr_mult=1
lr_decay_mult=1
bias_mult=0
bias_decay_mult=0

[shortcut]
from=-3

[connected]
lr_mult=1
lr_decay_mult=1
bias_mult=2
bias_decay_mult=0

output = 512
weight_filler=xavier
activation=linear

[normalize]
######################################################

[connected]
#output = 100
output = 5000
lr_mult=1
lr_decay_mult=0
bias_mult=0
bias_decay_mult=0

weight_filler=xavier
weight_normalize=1
bias_term=0
activation=linear

[softmax]
label_specific_margin_bias=-0.35
margin_scale=64
