.data
darknet_test
.settings
.project
.cproject
*.o
darknet
*.swp
backup/
libdarknet.a
libdarknet.so
results/
cnn
cnn_test
features.txt
features_r.txt
input.jpg.png
log
log_test
log_test_recognition
obj/
